<?xml version="1.0" ?>
<launch>
<!-- arm -->
        <rosparam file="$(find signbot_control)/controller/left_side/l_arm_control.yaml" command="load"/>

	<node name="l_arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/signbot" args="left/arm_controller"/>

<!-- palm -->
        <rosparam file="$(find signbot_control)/controller/left_side/palm_control.yaml" command="load"/>

	<node name="l_palm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/signbot" args="left/hand/palm_controller"/>

<!-- fingers -->
        <include file="$(find signbot_control)/launch/left_fingers_controller.launch" />

</launch>
