<?xml version="1.0" ?>
<launch>
<!-- thumb finger -->
  <rosparam file="$(find signbot_control)/controller/right_side/finger_thumb_control.yaml" command="load"/>

  <node name="r_finger_thumb_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/signbot" args="right/hand/finger/thumb_controller"/>

<!-- index finger -->
  <rosparam file="$(find signbot_control)/controller/right_side/finger_index_control.yaml" command="load"/>

  <node name="r_finger_index_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/signbot" args="right/hand/finger/index_controller"/>

<!-- middle finger -->
  <rosparam file="$(find signbot_control)/controller/right_side/finger_middle_control.yaml" command="load"/>

  <node name="r_finger_middle_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/signbot" args="right/hand/finger/middle_controller"/>

<!-- third finger -->
  <rosparam file="$(find signbot_control)/controller/right_side/finger_third_control.yaml" command="load"/>

  <node name="r_finger_third_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/signbot" args="right/hand/finger/third_controller"/>

<!-- little finger -->
  <rosparam file="$(find signbot_control)/controller/right_side/finger_little_control.yaml" command="load"/>

  <node name="r_finger_little_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/signbot" args="right/hand/finger/little_controller"/>

</launch>
